@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#29251c, #2c2306);
  color: #d9e2f1;
  min-height: 100vh;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5%;
}

#main-header .title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#main-header .title img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #ffc404;
}

#main-header .btn {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  width: 50px;
  background-color: transparent;
  color: #29251B;
  background-color: #ffab04;
  font-weight: bolder;
  border-radius: 100%;
  outline: none;
  border: none;
  cursor: pointer;
}

#main-header .btn:hover {
  background-color: #fecb66;
}

#main-header .userDetails .btn {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  width: 50px;
  background-color: transparent;
  color: #ffab04;
  background-color: #29251B;
  font-weight: bolder;
  border-radius: 100%;
  outline: none;
  border: none;
  cursor: pointer;
}

#main-header .userDetails .btn:hover {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  width: 50px;
  background-color: transparent;
  color: #ffab04;
  background-color: #414040;
}

#main-header .userDetails .text-button{
  color: #ccc;
  background-color: #212121;
  border-radius: 0.5rem;
  padding: 5px 0;
}

#main-header .userDetails .text-button:hover{
  background-color: #414040;
}

.userDetails{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: 72%;
  top:7%;
  background-color: #ffab04;
  color: #29251B;
  border-radius: 1rem;
  padding: 1rem 0.5rem;
}

.userDetails .userPersonalDetails{
  display: flex;
  gap: 1rem;
}
.userDetailsBtn{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.ordersHistory{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-left: 3rem;
  height: 100%;
  gap: 1rem;
}

.ordersHistoryError{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.ordersHistory h1{
  margin-left: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #ffc404;
}

.orderHistory2{
  width: 100%;
  max-width: 70rem;
  list-style: none;
  margin-bottom: 2rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  gap: 1rem;
}

.orderHistory-item{
  background-color: #1d1a16;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
  max-width: 22rem;
}

.orderHistory-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

.orderHistory-item-price{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.orderHistory-item img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  color: #ffc404;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.meals {
  width: 90%;
  max-width: 70rem;
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.meal-item {
  background-color: #1d1a16;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
}

.meal-item article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meal-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.meal-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

.meal-item-description {
  margin: 1rem;
  height: 4rem;
  overflow-y:hidden;
}

.meal-item-button-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.meal-item-button-section P{
  font-weight: bolder;
  animation: mealQuantity 0.3s ease-out forwards;
}

.meal-item-button-section button{
  font-weight: bolder;
}

@keyframes mealQuantity {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.meal-item-price {
  display: inline-block;
  background-color: #312c1d;
  color: #ffc404;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}

.meal-item-actions {
  margin-bottom: 1.5rem;
}

.cart{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.cart h2 {
  margin: 1rem 0;
}

.cart ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-actions .text-button {
  color: #1d1a16;
}

.modal-actions .text-button:hover,
.modal-actions .text-button:active {
  color: #312c1d;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
  font-size: 1.15rem;
  font-weight: bold;
  color: #46443c;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.cart-item p {
  margin: 0;
}

.cart-item-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-item-actions button {
  cursor: pointer;
  font-size: 2rem;
  width: 0.2rem;
  height: 2rem;
  border-radius: 20%;
  border: none;
  background-color: #312c1d;
  color: #ffc404;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-actions button:hover,
.cart-item-actions button:active {
  background-color: #1d1a16;
  color: #ffab04;
}

.control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.control-row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: #ffc404;
  border: 1px solid #ffc404;
  color: #1f1a09;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.button:hover,
.button:active {
  background-color: #ffab04;
  border-color: #ffab04;
  color: #1f1a09;
}

.text-button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #ffc404;
}

.text-button:hover,
.text-button:active {
  color: #ffab04;
}

.modal {
  background-color: #e4ddd4;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 80%;
  max-width: 40rem;
  margin-top: 3rem;
  animation: fade-slide-up 0.3s ease-out forwards;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

.center {
  text-align: center;
}

.error {
  width: 90%;
  max-width: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #f9b8b8;
  color: #6d0b0b;
  border-radius: 6px;
}

.success {
  width: 90%;
  max-width: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #b9f9b8;
  color: #1f6d0b;
  border-radius: 6px;
}

.error h2 {
  margin: 0;
}

.error p {
  margin: 0;
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.addItemCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 0 5.5rem;
  background-color: #ffab04;
  position: fixed;
  bottom: 0;
  width: 86%;
  height: 3rem;
  animation: addItemCart 0.3s ease-out forwards;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.addItemCart p{
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: transparent;
  padding: 0;
  gap: 5px;
  font-weight: bolder;
}

.addItemCart button{
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0;
}

.addItemCart button:hover{
  background-color: transparent;
  color: #fff;
}

@keyframes addItemCart {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 3rem 10%; */
}

.header .title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header .title img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #ffc404;
}

.orderPlaced main{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.singin{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  max-width: 40rem;
  margin: 2rem auto;
  background-color: #ccc;
  color: #1d1a16;
  padding: 1rem;
  border-radius: 1rem;
}

.singin header{
  text-align: center;
  margin-bottom: 1rem;
}

.singin form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.singin form input{
  padding: 0.5rem;
  border-radius: 4px;
  border: 2px solid #000;
  outline: none;
}

.singin form label{
  font-weight: bold;
}

.singin .modal-actions .text-button{
  font-weight: bold;
  background-color: transparent;
}
